#sign-in {
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

#sign-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
